.header {
  position: absolute;
  width: 100%;
  height: max-content;

  .content {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;

    img {
      width: 200px !important;
      height: max-content !important;
    }
  }
}
